@media screen and (min-width: 751px) {
.lightbox,
.lightboxOverlay{min-width: 1200px;}
}

@media screen and (max-width: 750px) {    
.under #main{margin-bottom: 70px}
.under #main .sm{color: #999}
.under #main .section {padding: 0 0 60px;box-sizing: border-box;}
.under #main .inner{padding: 0 15px}
.under #main .image_r,
.under #main .image_l,
.under #main .image_l.mb0,
.under #main .image_r.mb0,
.under #main .image_l.mb80,
.under #main .image_r.mb80{float: none;display: inline-block;width: 100%;text-align: center;margin: 0 auto 30px;}

.under #main .box_sp{display: block;}
.under #main .box_pc{display: none}

/* TOP INFO */
.under #main #top_info {}
.under #main #top_info .inner {}

/* TOPIC PATH */
.under #main #topic_path {margin-bottom: 15px}
.under #main #topic_path ul{padding: 10px 0;display: block;}

.under #main h3,
.under #main h4,
.under #main h5,
.under #main h6{margin-bottom: 30px}

.under #main h2 {font-size: 28px;}
.under #main h3 {}
.under #main h4 {font-size: 22px;}
.under #main h5 {}
.under #main h6 {font-size: 18px;}
.under #main p{margin-bottom: 30px}
.under #main .sm{margin-bottom: 15px;font-size: 12px;color: #999;}
.under #main .big{font-size: 20px}
.under #main .bold{font-size: 16px}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* table scroll                                                        */
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.under #main .tb_scroll {overflow: scroll;margin-bottom: 10px}
.under #main .tb_scroll table {width: 720px;}
.under #main .txt_note {font-size: 12px;color: #AFAFAF;display: block;}

/* TABLE  */
.under #main table.tb_block tr th,
.under #main table.tb_block tr th + th {display: block !important;width: 100% !important;box-sizing: border-box;border: none;}
.under #main table.tb_block tr th.box_pc{display: none !important}
.under #main table.tb_block tr td{display: block !important;width: 100% !important;box-sizing: border-box;border-top: none;}
.under #main table.tb_block tr th {border-bottom: none;background: #f6f7f9}
.under #main table.tb_block tr:nth-child(odd){background: none;}
.under #main table.tb_block tr td + td {border-top: 1px solid #efeeea;}
.under #main table.tb_block tr th + th {border-top: 1px solid #efeeea;}
.under #main table.tb_block tr th:last-child {border-bottom: none}
.under #main table.td_top_sp td{vertical-align: top}
.under #main table.tb_block th.bdo{border-bottom-color: #fff}

.under #main .big{font-size: 18px}
.under #main table th{font-size: 16px}
.under #main table.td_price td{font-size: 16px;align-items: center;}
.under #main table.tb_txt tr td.tb_label{margin-top: 50px;position: relative}
.under #main table.tb_txt tr td.tb_label::before{content: attr(data-label);font-size: 16px;color: #fff;background: #00c5b4;width: calc(100% + 2px);height: 50px;position: absolute;top: -50px;left: -1px;line-height: 50px;text-align: center}

/* STEP LIST */
.under #main .qa_list dl{margin-bottom: 30px}
.under #main .qa_list dt span{top:3px;}
.under #main .qa_list dt{font-size: 16px;min-height: 50px}

.under #main .step_list dl{margin-bottom: 40px;padding-bottom: 20px}
.under #main .step_list dl::before{border-width: 30px 30px 0 30px;left: calc(50% - 30px);}
.under #main .step_list dt{height: auto;min-height: 60px;font-size: 16px;flex-wrap: wrap;padding: 0 15px}
.under #main .step_list dd{padding: 15px}

/* ANCHOR LIST */
.under #main .list_anchor li{width: 100%;}
.under #main .list_anchor li a{font-size: 14px}

/* BANNER LIST */
.under #main .bnn_list{}

.under #main .gg_map{height: 199px;}

/* FLEXBOX */
.under #main .flex_box{flex-direction: column;}
.under #main .flex_item{width: 100%;padding: 0}
.under #main .flex_item .center{font-size: 18px}
.under #main .flex_item .txt{width: 290px}

/* LIST01 */
.under #main .list01 li{}

}

@media screen and (max-width: 560px) {

}

@media screen and (max-width: 480px) {
}


@media screen and (max-width: 420px) {
}


@media screen and (max-width: 380px) {

}
